@model CourseP3.Areas.Admin.Models.CenterDetail
<a href="#" class="small mr-3"><span class="icon-phone2 mr-2"></span> @Model.Hotline</a>
<a href="#" class="small mr-3"><span class="icon-envelope-o mr-2"></span> @Model.Name</a>
